.logo {
  display : 100%;
  background-color: black;
}

.logo a{
  text-decoration: none;
  display: flex;
  text-align:center;
  font-size: 25px;
  font-weight: bold;
  padding-top : 10px;
  padding-bottom: 10px;
  padding-left : 20px;
  color : White
}

.tradingview-widget-container{
  display: table-cell;
  padding-top: 10px;
  padding-left: 10px;;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding-top : 10px;
    padding-bottom: 30px;
    padding-left : 20px;
    padding-right: 20px;
  }

.navbar__menu {
    list-style: none;
    display: table;
    align-items: center;
    margin: 0;
    
}
  
.top_menu {
    display: table-cell;
    padding: 10px 40px;
}

.top_menu_link, .sub_menu_link{
  text-decoration: none;
  display: flex;
  font-size: 12px;
  font-weight: bold;
  color: black;
}

.top_menu:hover .top_menu_link{
  color : red;
  background-color: #AC7D88;
} 

.top_menu:hover .sub_navbar{
  display: table;
}

.sub_navbar{
  display : none;
  width: 100%;
  height: 40px;
  position: absolute;
  align-items: center;
  margin: 0;
  top: 90px;
  left: 0;
}

.sub_menu{
  display: table;
  width: 50%;
  padding-top: 2px;
  padding-left : 80px;
  text-align: center;
}

.sub_menu li {
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
  height: 30px;
  padding-left : 20px;
  padding-right: 20px;
}

.sub_menu li:hover .sub_menu_link{
  color : purple;
  background-color: aquamarine;
}

.first_floor{
  width : 100%;
  display : table;
  color : white;
  background-color: black;
}

.press{
  display : table-cell;
  padding : 10px 20px;
}

.second_floor {
  width : 100%;
  display : table;
  color : black;
  background-color: white;
}

.press2{
  display : table-cell;
  padding : 10px 20px;
}