.navbar__logo i {
    color: var(--accent-color);
    padding-left: 0;
  }

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
  }

.navbar__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}
  
.navbar__menu li {
    padding: 9px 32px;
}

.navbar__icons {
    list-style: none;
    display: flex;
    color: var(--icons-color);
    margin: 0;
    padding-left: 0;
  }
  
  .navbar__icons li {
    padding: 8px 12px;
    margin: 0;
  }

a {
    text-decoration: none;
    color: var(--text-color);
}